<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HolyLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HolyLogger.Properties.Settings>
      <setting name="my_callsign" serializeAs="String">
        <value />
      </setting>
      <setting name="show_qrz" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="validation_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isAllowLiveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="qrz_username" serializeAs="String">
        <value />
      </setting>
      <setting name="qrz_password" serializeAs="String">
        <value />
      </setting>
      <setting name="my_square" serializeAs="String">
        <value />
      </setting>
      <setting name="isLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isManualMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isAutoCheckUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MatrixWindowLeft" serializeAs="String">
        <value>1010</value>
      </setting>
      <setting name="MatrixWindowTop" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="SignBoardWindowLeft" serializeAs="String">
        <value>1010</value>
      </setting>
      <setting name="SignBoardWindowTop" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>760</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>660</value>
      </setting>
      <setting name="SignBoardWindowWidth" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="SignBoardWindowHeight" serializeAs="String">
        <value>330</value>
      </setting>
      <setting name="MatrixWindowIsOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SignBoardWindowIsOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PersonalInfoCallsign" serializeAs="String">
        <value />
      </setting>
      <setting name="PersonalInfoName" serializeAs="String">
        <value />
      </setting>
      <setting name="PersonalInfoEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="PersonalInfoEmailConf" serializeAs="String">
        <value />
      </setting>
      <setting name="isCommentLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Date_index" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Time_index" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Callsign_index" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Name_index" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Country_index" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Frequency_index" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Band_index" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RSTrcvd_index" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="RSTsent_index" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Mode_index" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Exchange_index" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Comment_index" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="LogUploadWindowLeft" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LogUploadWindowTop" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="QRZ_auto_open" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QRZ_auto_open_delay" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="LogInfoWindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LogInfoWindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RecentQSOCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsFilterQSOs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionsWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OptionsWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OptionsWindowWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="OptionsWindowHeight" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="IsShowMatrixControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableOmniRigCAT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTitleClock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNetworkFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsParseWARC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsParseDuplicates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSatelliteMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatelliteName" serializeAs="String">
        <value>QO-100</value>
      </setting>
      <setting name="SatelliteShift" serializeAs="String">
        <value>1968</value>
      </setting>
      <setting name="SelectedOmniRig1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedOmniRig2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableUDPClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UDPPort" serializeAs="String">
        <value>2333</value>
      </setting>
      <setting name="my_locator" serializeAs="String">
        <value />
      </setting>
      <setting name="TimerWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimerWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimerWindowWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="TimerWindowHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TimerWindowIsOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayLastQSOinGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowAzimuthControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Operator" serializeAs="String">
        <value />
      </setting>
      <setting name="AddQSOWithEnter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoNothing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="selectedEvent" serializeAs="String">
        <value />
      </setting>
      <setting name="selectedCategory" serializeAs="String">
        <value />
      </setting>
      <setting name="IsOverrideOperator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Frequency" serializeAs="String">
        <value>7.130</value>
      </setting>
      <setting name="Comment" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>SSB</value>
      </setting>
      <setting name="UseDXCCDefaultGrid" serializeAs="String">
        <value>True</value>
      </setting>
    </HolyLogger.Properties.Settings>
  </userSettings>
</configuration>